---
DEBUG: true
LOG_PROPAGATE: true
SERVER_HOST: 0.0.0.0
SERVER_PORT: 7070
JWT_SECRET: SOME_SUPER_SECRET_KEY
POSTGRES_PASSWORD: pass
POSTGRES_USER: user
POSTGRES_DB: hih
POSTGRES_HOST: localhost
POSTGRES_PORT: 6500
